{% extends "base.html" %}
{% block title %}{{ super }} Home {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <h2>Welcome {{ user.username }}!<h2>
    <h4>My characters: </h4>
{% else %}
    <a href="{% url 'registration_register' %}">Register an account</a>
{% endif %}
<ul id="characters">
</ul>
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript">
    $.getJSON("{% url 'character-list' %}", function(data){
        for(character in data){
            $('#characters').append(
                '<li>' + data[character].name + '</li>'
            )
        }
    })
</script>
{% endblock %}

